@tailwind base;
@tailwind Components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .page-title{
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.842);
  }

  .card-title{
    font-size: 22px;
    font-weight: bold;
    color: rgba(0,0,0,0.627);
  }
  .send{
    direction: flex;
    justify-content: end;
  }
  .primary-button{
    background-color: black !important;
    border-color: black !important;
    height: 40px;
    width:max-content;
    color: white;
    font-size: 16px;
  }
body {
    height: 100vh;
  }
  
  .ql-editor {
    font-size: 1.05rem;
  }
  .header{
    margin: 20px;
  }
  .headerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
    margin-bottom: 20px; /* Adjust as needed to reduce space */
  }
  
  .headerTitlelg {
    font-size: 48px; /* Reduced font size from 100px to 48px */
    margin-top: 10px; /* Add margin-top to control spacing */
    line-height: 1.2; /* Adjust line-height for better spacing */
  }
  
  .headerimg {
    width: 100%;
    height: 450px;
    margin-top: 40px; /* Adjust margin-top to reduce space */
    object-fit: cover;
  }
  
  /* .home{
    display: flex;
  } */
  .posts{
    
    display: flex;
    flex-wrap: wrap;
  }
  .sidebar{
    
    margin: 20px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  .sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    font-size: 12px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
  }
  .sidebarItem >img{
    margin-top: 15px;
height: 250px;
  }
  .sidebarItem > p{
    padding: 30px;
  }
.sidebarList{
    list-style: none;
    margin-bottom: 30px;
}
.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}
.post{
    width: 280px;
    margin: 10px 25px 30px 25px;
}
.postimg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postCat
{
    font-size: 11px;
    color: goldenrod;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}
.postTitle{
    font-weight: 700;
    font-size: 24px;
    margin-top: 15px;
    cursor: pointer;
}
.postDate{
    font-style: italic;
    font-size: 13px;
    color: grey;
    margin-top: 15px;
}
.postDesc{
    font-size: 14px;
    color: gray;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.singlePost{
  flex: 9;

}
.single{
  display: flex;
}
.singlePostWrapper{
  padding: 20px;
  padding-right: 0;
}
.singlePostimg{
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
.singlePostTitle{
  text-align: center;
  margin: 10px;
  font-size: 20px;
}
.singlePostEdit{
float: right;
font-size: 16px;
}
.singlePosticon{
  margin-left: 10px;
  cursor: pointer;
}
.singlePosticon:first-child{
  color: teal;
}
.singlePosticon:last-child{
  color:tomato;
}
.singlePostInfo{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size:16px;
  color: goldenrod;
}
.singlePostDate{
  color: grey;
  font-size: 18px;
}
.singlePostDesc{
  color: grey;
  font-size: 18px;
  line-height: 25px;
}
.singlePostDesc::first-letter{
  margin-left: 20px;
  font-size:30px;
  font-weight: 600;
}
/* .booking-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #fff;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
} */

label {
  display: block;
  margin-bottom: 5px;
}

input, .react-datepicker-wrapper, .react-time-picker {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
